version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: artists
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
  minio:
    image: minio/minio
    command: server /data
  api:
    build: .
    depends_on:
      - db
      - minio
